<html>
<head>
<title>C4J - Contracts for Java</title>
<link rel="stylesheet" type="text/css" href="all.css">
</head>

<body>
<table><tr><td id="navigation">
<img src="c4j.png" alt="C4J Logo"/>
<ul>
<li><a href="#">Overview</a></li>
<li><a href="#">Ease of use</a></li>
<li><a href="#">Powerful</a></li>
<li><a href="#">Six principles</a></li>
<li><a href="#">Examples</a></li>
<li><a href="#">Syntax reference</a></li>
<li><a href="#">Inheritance of contracts</a></li>
<li><a href="#">Installation</a></li>
<li><a href="#">Configuration</a></li>
<li><a href="#">Guidelines</a></li>
<li><a href="#">Under the Hood</a></li>
<li><a href="#">Theory</a></li>
<li><a href="#">FAQ</a></li>
<li><a href="#">About</a></li>
</ul>
</td><td id="divider"></td><td id="content">
{{ content }}
</td></tr></table>
</body>
</html>